*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: sans-serif;
	margin: 0;
	background: linear-gradient(rgb(105, 19, 255), rgb(59, 8, 110));
	background-repeat: no-repeat;
	height: 1200px;
}
h1 {
	text-align: center;
	font-size: 60px;
	color: rgb(232, 208, 255);
	margin-top: 80px;
	box-shadow: 10px 0px 10px 10px rgb(206, 194, 255);
}

.container {
	margin-top: 120px;
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: center;
}
img {
	height: 258px;
	width: 350px;
}
.miniature {
	height: 270px;
	width: 300px;
	background-color: grey;
	border: 8px solid rgb(0, 0, 0);
	border-radius: 10px;
	box-shadow: 0px 0px 10px white;
}
